* {margin: 0; padding: 0;}
html, body {width: 100%; font-size: 10px;}
body, div, ul, li{margin: 0; padding: 0; letter-spacing: -1.5px; }
ul, li {list-style: none;}
a {display:block; text-decoration: none;}
a:link, a:visited, a:active {color: #3f464d;}
img {width: 100%;}
button{background: inherit; border: none; box-shadow: none; border-radius: 0;}

/* 공통 */
.screen_out {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
.img_area {display: inline-block;}
.box_wrap::after {content: ''; display: block; clear: both;}
.box_half{float: left; width: 50%; margin: 0; padding: 0; box-sizing: border-box;}
.container_wrap {max-width: 1280px; margin: 0 auto; border-left: 1px solid #cdcdcd; border-right: 1px solid #cdcdcd;}
.ico_comm {overflow: hidden; display: inline-block; line-height: 0;vertical-align: top; font-size: 0; text-indent: -9999px; background-image: url(../images/ico_comm.png)!important; background-repeat: no-repeat;}
.ico_new::after, .ico_hot::after {display:inline-block; content: ''; background-image: url(../images/ico_comm.png)!important; width: 16px; height: 16px; margin-left:5px;}
.ico_new::after {background-position: -310px 0px; }
.ico_hot::after {background-position: -290px 0px;}

/* Header */
.doc_header {border-bottom: 1px solid #cdcdcd;}
.doc_header .dkt_logo {display: inline-block; padding: 20px 0 20px 26px; font-size: 0;}
.doc_header .dkt_logo a {width: 120px; height: 24px; background-position: 0 -135px;}
.gnb_button {display: none;}

/* Main */
.doc_main {background-color: #f9f9f9; position: relative;}
.doc_main::after {content:''; display: block; clear:both;}
.sec_wrap {position: relative; overflow: hidden;}
/* Main - sec_lnb */
.sec_lnb {transition: all 0.15s; position: absolute;  left: 0; top: 0;  display: block; height: 100%; background-color: #fff; border-right: 1px solid #ccc; z-index:1000000;}
.lnb_main {width: 240px; overflow: hidden; transition: all 0.15s;}
.lnb_inner {margin: 46px 0 0 26px;}
.lnb_tag {margin-top: 70px;}
.item_list li a {margin: 16px 0 0 10px;}
.item_category {width: 96px; height: 17px; background-position: 0 -75px;}
.item_tag {width: 31px; height: 17px; background-position: -100px -75px;}
.item_list .item_blog a {width: 69px; height: 15px; background-position: 0 -55px;}
.item_list .item_story a{width: 69px; height: 15px; background-position: -80px -55px;}
.item_list .item_kind a {width: 85px; height: 15px; background-position: 0 -95px;}
.item_list .item_trip a {width: 59px; height: 15px; background-position: -90px -95px;}
.item_list .item_issue a {width:100px; height: 15px; background-position: -150px -95px;}
.item_list .item_subscribe a {width: 72px; height: 15px; background-position: -255px -95px;}
.control_lnb {position: absolute; top: 10px; left: 240px; width: 30px; height: 300px; background-color: #ffcc56; border: 1px solid #f8bb4f; border-radius: 0 10px 10px 0; cursor: pointer;}
.control_lnb .lnb_button {display: block; transform: rotate(180deg); width: 30px; height: 30px; border: none; background-position: -228px 0; } 
.sec_lnb.on .control_lnb .lnb_button {transform: rotate(0deg);}
/* Main - sec_con */
.sec_con {padding: 46px 40px 60px 280px; transition: all 0.15s;}
.sec_con .doc_tit {display: block; width: 171px; height: 29px; margin-bottom: 22px;}
.sec_lnb.on {left: -241px;}
.sec_lnb.on + .sec_con {padding: 46px 40px 60px 60px;}
.tab_menu {max-width: 943px; border: 1px solid #c6cbce; border-top: none;}
.tab_menu .tab_list::after {content:''; display: block; clear:both;}
.tab_menu .tab_list .btn_con {width: 50%; float: left; padding: 15px 0; text-align: center; box-sizing: border-box; background: #f3f3f5; background-color: #f3f3f5; border-top: 2px solid #a6a8ab; border-bottom: 1px solid #a6a8ab;}
.tab_menu .tab_list .btn_con.active {background-color: #fbfbfb; border-top:2px solid #585a5b; border-bottom: none;}
.tab_menu .tab_list .btn_con:first-child {border-right: 1px solid #58595b;}
.tab_menu .tab_list .btn_con a {display: block; margin: 0 auto; width: 73px; height: 15px;}
.tab_menu .tab_01 {background-position: 0 -35px;}
.tab_menu .tab_02 {background-position: -80px -35px;}
.tab_menu .tab_panel {display: none;}
.tab_menu .tab_panel.active {display: block;}
.tab_menu .tab_story {padding: 20px 16px 40px;}
.tab_menu .tab_story > .box_wrap {margin-top: 60px;}
.tab_menu .tab_story .con_list {margin-top: 15px; background-color: #fff;}
.con_board {margin: 15px 17px;}
.con_board .con_list li {position: relative; margin-top:10px; border-right: 2px solid #efeef2; border-bottom: 2px solid #efeef2; background-color: #fff;}
.con_board .img_thumb {position: absolute; top: 0; left: 0; display: inline-block; width:240px; vertical-align: middle;}
.con_board .img_thumb img {vertical-align: middle;}
.con_board .txt_info {position: relative; min-height: 175px; padding-left: 278px;}
.con_board .txt_tit {padding-top: 30px; overflow: hidden; line-height: 28px; text-overflow: ellipsis;  white-space: nowrap; font-weight: 600; font-size: 2rem;}
.con_board .txt_id {display: block; padding-top: 10px; font-size: 1.3rem; color: #b3b6bb;} 
.con_board .item_hashTag {position: absolute; bottom: 15px; margin: 0 -2.5px; color: #808080;}
.con_board .item_hashTag::after{content: ''; display: block; clear: both;}
.con_board .con_list .txt_hashTag {float: left; margin: 6px 2.5px 0; padding: 0 10px; line-height: 27px; font-weight: 600; font-size: 1.3rem; border: none; border-radius: 5px; background-color: #b3b6bb; color: #fff;}
.con_board .con_list .st01 {background-color: #86bbb2;} /* lnb 메뉴명 한글로 쓰기 - 어디 영역의 해쉬태그 */ 
.con_board .con_list .st02 {background-color: #9da3d7;}
.con_board .con_list .st03 {background-color: #ccc76c;}
.con_board .con_list .st04 {background-color: #a37a7b;}
.con_best .con_tit {display: block; width: 53px; height: 18px; background-position: 0 -115px;}
.con_best .con_list::after {content:''; display: block; clear:both;}
.con_best::after {content:''; display: block; clear:both;}
.con_best .img_thumb {position: relative; float: left; width: 50%; padding: 0.5px; box-sizing: border-box;} 
.con_best .img_thumb a {position: relative;} 
.con_best .img_thumb img {vertical-align: middle;} 
.con_best .img_best {width: 100%;}
.con_best .img_best .txt_tit {padding: 30px 15px; line-height: 28px; font-size: 2rem;}
.con_best .txt_info {position: absolute; bottom: 0; width: 100%; background-color: #000; opacity: 0.5; text-align: left; }
.con_best .txt_tit {padding: 12px 13px; box-sizing: border-box; line-height: 14px; font-size: 1.2rem; color: #fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.con_ranking {padding-right: 5px;}
.con_ranking .con_tit {background-position: -55px -115px; width: 100px; height: 20px;}
.con_ranking .con_list li {padding: 10px; text-align: left; font-weight: 600; font-size:1.2rem; border-bottom: 1px solid #eee;}
.con_ranking .con_list a {display: inline-block;}
.con_ranking .txt_tit {display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.con_ranking .ico_star {float: right; width: 80px; height: 13px;}
.con_ranking .ico_star.st06 {background-position: -245px -115px;}
.con_ranking .ico_star.st07 {background-position: -245px -130px;}
.con_ranking .ico_star.st08 {background-position: -245px -145px;}
.con_ranking .ico_star.st09 {background-position: -245px -160px;}
.con_ranking .ico_star.st10 {background-position: -245px -175px;}
.con_new {padding-left: 5px;}
.con_new .con_tit {background-position: -160px -115px; width: 50px; height: 20px}
.con_new .con_list {margin-left: 5px; padding: 12px 11px;}
.con_new .txt_hashTag {font-size: 1.4rem; color: #808080;}
.con_new .item_visitor {margin-top: 27px; font-weight: 600; font-size: 1.2rem;}
.con_new .swiper_wrap {position: relative; padding: 8px 30px 0; text-align: center;}
.con_new .swiper-slide .img_area {height: 48px; vertical-align: middle;}
.con_new .swiper-button-prev, .con_new .swiper-button-next {top: 26px; width: 8px; height: 11px; margin-top: 0; background-size: auto;}
.con_new .swiper-button-prev {background-position: -200px -20px;}
.con_new .swiper-button-next {background-position: -200px 0;}
.con_new .swiper_blog .swiper-slide .img_area img {height: 100%; width: auto;}
.con_new .swiper_visitor .swiper-slide::after {content: ''; display: block; clear: both;}
.con_new .swiper_visitor .swiper-slide .img_area img {height: 100%;}
.con_new .swiper_visitor .swiper-slide .txt_tit {display: inline-block; padding: 0 7px; vertical-align: middle; text-align: left;}
.con_recomm {position: relative; margin-top: 78px;}
.tab_story .con_recomm .con_list {background: none;}
.con_recomm .swiper-slide {text-align: center;}
.con_recomm .swiper-button-prev {left: 150px; background-position: -290px -35px;}
.con_recomm .swiper-button-next {right: 150px; background-position: -245px -35px;}
.con_recomm .swiper-button-next, .con_recomm .swiper-button-prev {width: 41px; height: 41px; background-size: auto;}
.con_recomm .swiper-pagination {display: none;}

/* Footer */
.doc_footer {padding: 18px 0; text-align:center; letter-spacing: 0; font-size: 1.3rem; color:#777; background-color: #f1f1f1;}


@media (max-width: 1023px) {
    .con_board .img_thumb {width: 180px;}
    .con_board .txt_info {min-height: 132px; padding-left: 190px;}
    .con_board .txt_tit {font-size: 1.3rem; padding-top: 15px; line-height: 13px;}
    .con_board .txt_id {padding-top: 5px; font-size: 1.1rem;}
    .con_board .item_hashTag {bottom: 5px;}
    .con_board .con_list .txt_hashTag {margin: 3px 2px 0; padding: 0 5px; font-size: 1.1rem; line-height: 20px;}
    .con_ranking .con_list li {padding: 30px 10px; font-size: 1rem;}
    .con_new .swiper_visitor .swiper-slide .txt_tit {text-align: left;}
}


@media (max-width: 767px) {
    body {letter-spacing: -1.5px;}
    .ico_comm {background-image: url(../images/ico_comm_mo.png)!important; background-size: 325px!important;}
    .ico_new {background-position: -300px 0px;}
    .ico_hot {background-position: -270px 0px;}
    .box_half {width: 100%; margin-top: 20px;}

    /* Header */
    .doc_header .dkt_logo {padding-left: 15px;}
    .doc_header .dkt_logo a {width: 80px; height: 17px; background-position: 0 0;}
    .gnb_button {display: block; float: right; padding: 20px 15px 20px 0; font-size: 0;}
    .gnb_button a {width: 27px; height: 14px; background-position: -270px -62.5px;}

    /* Main */
    .doc-main {padding: 20px 0 0 0;}
    .bg_shadow {position: fixed; display: none; top: 0; left:0; width: 100%; height: 100%; opacity: 0.5; background-color: rgb(0, 0, 0); z-index: 1000;}
    /* Main - sec_lnb */
    .sec_lnb {position: fixed; left: -241px;  height: 100%; background-color: #fff; border-right: none;}
    .sec_lnb.active{left: 0;}
    .sec_lnb.active + .sec_con {padding: 20px 0 0;}
    .item_category {background-position: 0 -62.5px;}
    .item_tag {background-position: -97.5px -62.5px;}
    .item_list .item_blog a {width: 68px; height: 14px; background-position: 0 -80px;}
    .item_list .item_story a {width: 68px; height: 14px; background-position: -70px -80px;} 
    .item_list .item_trip a {background-position: -85px -95px;}
    .item_list .item_issue a {background-position: -145px -95px;}
    .item_list .item_subscribe a {background-position: -245px -95px;}
    .control_lnb {display: none; width: 30px; height: 30px; background-position: -230px 0; background-color: transparent; border: none; border-radius: 0;}
    .control_lnb .lnb_button  {background-position: -300px -62.5px;}
    .sec_lnb.active .control_lnb {display: block; width: auto; height: auto; top: 15px; left: 256px; transform: none;}
    .sec_lnb.active .control_lnb .lnb_button {width: 20px; height: 20px; transform: none;}
    /* Main - sec_con */
    .sec_con {width: 100%; padding: 20px 0 0;}
    .sec_con .doc_tit { width: 95.5px; height: 16.5px; margin-left: 15px; background-position: 0 -17.5px; font-size: 2rem;}
    .tab_menu {border: none;}
    .tab_menu .tabCon {padding-right: 0;}
    .tab_menu .tab_list .btn_con a {width: 63.5px; height:13px;}
    .tab_menu .tab_story > .box_wrap {display: flex; flex-direction: column-reverse; margin-top: 0px;}
    .tab_menu .tab_story .con_list {margin: 7px 0 0;}
    .tab_menu .tab_02 {background-position: -64.5px -35px;}
    .tab_menu .con_list {margin-top: 7px;}
    .con_board {margin: 0;}
    .con_board .con_list {margin: 8px 0; border: none;}
    .con_board .con_list li {border-right: none;}
    .con_board .img_thumb {display: none;}
    .con_board .txt_info {min-height: auto; padding: 0 15px 20px;}
    .con_board .txt_tit {padding-top: 20px; font-size: 1.6rem; line-height: 21px; white-space: normal;}
    .con_board .txt_id {padding-top: 7px;}
    .con_board .item_hashTag {position: static; bottom: 0; margin: 20px 0 0;}
    .con_board .con_list .txt_hashTag {margin: 4px 2.5px 0; padding: 0; line-height: 14px; background-color: #fff; color: #808080;  border: none; font-weight: 400;}
    .con_board .txt_hashTag.st01 {color: #86bbb2;}
    .con_board .txt_hashTag.st02 {color: #9da3d7;}
    .con_board .txt_hashTag.st03 {color: #ccc76c;}
    .con_board .txt_hashTag.st04 {color: #a37a7b;}
    .con_best .con_tit {width: 32px; height: 11px; background-position: 0 -50px;}
    .con_best .box_half {float: none; margin-top: 0;}
    .con_best .box_half .con_list {margin: 0;}
    .con_best .txt_tit {padding: 8px 10px; font-size: 1rem;}
    .con_best .img_thumb {width: 50%;}
    .con_best .img_best {width: 100%!important; margin-top: 7px;}
    .con_best .img_best .txt_tit {padding: 18px 20px; font-size: 1.2rem; line-height: 17px;}
    .con_ranking {padding-right: 0;}
    .con_ranking .con_tit {width: 52px; height: 10px; background-position: -63px -50px;}
    .con_ranking .con_list li {padding: 8px 4px;}
    .con_ranking .st05 {margin-right: 5px; color: #ffcb54;}
    .con_ranking .ico_star {width: 63.5px; height: 11.5px;}
    .con_ranking .ico_star.st06 {background-position: -200px 0;}
    .con_ranking .ico_star.st07 {background-position: -200px -12.5px;}
    .con_ranking .ico_star.st08 {background-position: -200px -25px;}
    .con_ranking .ico_star.st09 {background-position: -200px -37.5px;}
    .con_ranking .ico_star.st10 {background-position: -200px -50px;}
    .con_new {padding-left: 0;}
    .con_new .con_tit {width: 30px; height: 10px; background-position: -32.5px -50px;}
    .con_new .con_list::after {content: ''; display: block; clear: both;}
    .con_new .txt_hashTag {font-size: 1rem;}    
    .con_new .swiper_wrap {text-align: center;}
    .con_new .swiper-slide .img_area {height: 36px;}
    .con_new .swiper-button-prev, .con_new .swiper-button-next {top: 44px;}
    .con_new .swiper-button-prev {background-position: -270px -50px;}
    .con_new .swiper-button-next {background-position: -300px -50px;}
    .con_new .item_visitor {font-size: 1rem;}
    .con_new .item_visitor .swiper_wrap {padding: 8px 36px 0;}
    .con_new .item_visitor .swiper-slide .txt_tit {display: block; padding: 8px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center;}
    .con_new .item_blog, .con_new .item_visitor {float: left; width: 50%; margin: 0 0 0 -1px; box-sizing: border-box; vertical-align: top;}
    .con_new .item_blog .swiper_wrap {padding: 8px 10px 0;}
    .con_new .item_blog .swiper-slide .img_area {height: 80px;}
    .con_new .item_blog .swiper-button-prev {left: 0;}
    .con_new .item_blog .swiper-button-next {right: 0;}
    .con_recomm {margin-top: 20px;}
    .con_recomm .util_wrap {position: relative; margin-top: 20px;}
    .con_recomm .swiper-button-next, .con_recomm .swiper-button-prev {top: 20px; width: 20.5px; height: 20.5px;}
    .con_recomm .swiper-button-prev {left: 100px; background-position: -270px -17.5px;}
    .con_recomm .swiper-button-next {right: 100px; background-position: -300px -17.5px;}
    .con_recomm .swiper-pagination {display:block; left: 50%; transform: translateX(-50%);}
    .con_recomm .swiper-pagination-bullet-active {background: #434343;}
    .con_recomm .swiper-pagination-bullet:nth-child(2) {margin: 0 5px;}

    /* Footer */
    .doc_footer {padding: 14px 0; font-size: 1.1rem;}
}
